
<div class="card img-fluid bg-info">
  <div class="card-body">
    <h5 class="card-title">Session History</h5>
    <h6 class="card-subtitle mb-2 text-muted">Dog History</h6>
    <ol>
      <% if (dogHistory) { %>
        <% dogHistory.forEach(item=>{ %>
            <li> <%= item.name %> </li>
        <% }) %>
      <% } %> %>
    </ol>

    <!-- Reset Button -->
    <div class="img-fluid">
      <form method="post" action="/">
        <input type="hidden" name="postMsg" value="RESET">
        <input type="submit" class="btn btn-danger btn-lg btn-block" value="Reset">
      </form>
    </div>
  </div>
</div>
