<!DOCTYPE html>
<html>
  <body>

    <!-- controls -->
    <div class="container-fluid">
      <div class="row text-center">
        <!-- Center -->
        <div class="col-md bg-secondary">
          <a href="/" class="btn btn-dark">Return to Dog Viewer</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/German_Sheppard_w_doggles.jpg/600px-German_Sheppard_w_doggles.jpg" class="img-fluid">
          <br>
          <a href="https://en.wikipedia.org/wiki/Doggles"> [Image Source link]</a>
        </div>

        <div class="col">
          <div class="container-fluid">
            <br>
            <p>
              Have you ever spent a couple hours browsing Wikipedia, going from article to article, learning new things and looking at interesting pictures? (Possibly when you were supposed to be doing work?) This app aims to recreate this entertaining experience in a new and exciting way by streamlining your perusal of any set of wikipedia pages!
              <br><br>Dog Parade is configured with a list of Wikipedia articles—in this case, a list of dog breeds—and displays the names of a couple random articles at a time on the side, which can be refreshed with the push of a button. Clicking on one of the random names accesses photos from that page, and displays them along with a link to the wikipedia page. Each time you use the app, it will create a running log of the pages you visit. The key to the experience is that the suggested pages are introduced randomly—you never know what you are going to get—and the fun is in seeing and learning new things!
              <br><br>
              Have Fun, and I hope you enjoy.
            <p>
              <hr>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
