body {
  padding: 0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  background-color: #edd59d;
}

img {
  /* image-rendering: auto;
  image-rendering: crisp-edges; */
  image-rendering: pixelated;
}

a {
  color: black;
}
